body {
    font-family: 'Monserrat', sans-serif;
}

.container {
    max-width: 1440px;
    padding: 0 156px;
    width: 100%;
    margin: 0 auto;
}

.block {
    text-align: center;
    margin-bottom: 118px;

    &__title {
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 3.3px;
        margin-bottom: 25px;
    }

    &__text {
        font-size: 16px;
        letter-spacing: 4px;
        line-height: 24px;
        font-weight: 400;
        color:$color;
        max-width: 465px;
        margin: 0 auto 80px;
    }

}